<div>
    <img src="../../assets/logo.png" alt="Company">
</div>
<mat-list role="list">
    <h2 class="title">Proposta de Crédito</h2> 
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/dados-pessoais" routerLinkActive="list-item-active">
        <mat-icon>people</mat-icon>Dados Pessoais
    </a>
    <a mat-list-item routerLink="/endereco" routerLinkActive="list-item-active">
        <mat-icon>location_on</mat-icon>Endereço
    </a>
    <a mat-list-item routerLink="/telefone" routerLinkActive="list-item-active">
        <mat-icon>phone</mat-icon>Telefone
    </a>
    <a mat-list-item routerLink="/patrimonio" routerLinkActive="list-item-active">
        <mat-icon>monetization_on</mat-icon>Patrimônio
    </a>
    <a mat-list-item routerLink="/dados-bancarios" routerLinkActive="list-item-active">   
        <mat-icon>info</mat-icon>Dados Bancários
    </a>
    <a mat-list-item routerLink="/dados-proposta" routerLinkActive="list-item-active">
        <mat-icon>attach_money</mat-icon>Dados Proposta
    </a>
</mat-list>